.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 400px;
  margin: 100px auto;
}

.output {
  grid-column: 1 / -1;
  background-color: #f2f2f2;
  height: 80px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  word-wrap: break-word;
  word-break: break-all;
}

.previous-value {
  font-size: 18px;
  color: #666;
}

.current-value {
  font-size: 24px;
  margin-bottom: 10px;
}

button {
  grid-column: span 1;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
}

.size-two {
  grid-column: span 2;
}

button:hover {
  background-color: #f2f2f2;
}

button:active {
  background-color: #ccc;
}
